.icon-style{
    transform: translate(29px,0px);
    transition: .25s all;
    
}

.parent{
    overflow: hidden;
    transition: .25s all;
}
.parent:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px 4px gray;
    /* transform: scale(1); */
}

.parent:hover .icon-style{
    transform: translate(0px,0px);
    cursor: pointer; 
}
.parent:hover .productname{
  display: none;
}
.addcard{
    display: none !important;
    color: green !important;
}
.parent:hover .addcard{
    display: inline !important;
    
}
.grid3{
    grid-gap: 30px 79px;
}